doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Alexandria HammerHeads
    meta(name="description", content="")
    meta(name="author", content="Ali Mohamady")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="main.css")
    //link(rel="icon", type="image/png", href="images/favicon.png")

  body  
    .interface
      .header
        .logo
          img(src='pics/logo.png', alt='Smiley face')
        .text
          a(href="index.html")
            p Alexandria HammerHeads
        a.acct(href="acctmanag.html")
          .acc
            p Members ACCT
      .remaind
        .menubar
          .drop
            ul.drop_menu
              li
                a(href='#') TEAM
                ul
                  li
                    a(href='#') ➲ Players
                  li
                    a(href='#') ➲ Coaches
                  li
                    a(href='#') ➲ Social media
                  li
                    a(href='#') ➲ front office
              li
                a(href='#') SCHEDULE
                ul
                  li
                    a(href='#') train schedule
              li
                a(href='#') NEWS
                ul
                  li
                    a(href='#') Headlines
                  li
                    a(href='#') practice reports
              li
                a(href='photos.html') PHOTOS
              li
                a(href='#') VIDEOS
              li
                a(href='#') COMMUNITY
                ul
                  li
                    a(href='#') SOON
              li
                a(href='#') SHOP
                ul
                  li
                    a(href='#') T-Shirts
                  li
                    a(href='#') Jerseys
                  li
                    a(href='#') Hats
                  
        .bluerec
        .News        
          .leftp
            .cycle-slideshow(data-cycle-prev=".cycle-prev" data-cycle-next=".cycle-next")
              span.cycle-prev &#9001;
              span.cycle-next &#9002;
              span.cycle-pager
              img(src='pics/04.jpg')
              img(src='pics/01.JPG')
              img(src='pics/02.JPG')
              img(src='pics/03.JPG')
          .rightp
            .heads
              p TOP STORIES
            .stori
              .com
                hr
                p 
                  a(href="") What the Rams Want in Their No. 1 Pick
              .com
                hr
                p 
                  a(href="") Five Takeaways: Jared Goff's Visit with the Rams
              .com
                hr
                p 
                  a(href="") Five Takeaways: Carson Wentz's Visit with the Rams
              .com
                hr
                p 
                  a(href="") The Moves that Set Up L.A.'s Trade to No. 1
              .com
                hr
                p 
                  a(href="") Rams Begin Offseason Program in Oxnard
              .com
                hr
                p 
                  a(href="") 2016 Mock Draft Roundup: Sixth Edition
            .ender
              p 
                a(href="") ALL HEADLINES
        hr.red
        .picss
          .uper
            p LATEST PICUTERS
          .picform
            .bigone
            .smallones
              .lefs
                .one
                  .picpart
                  p the comment here
                .two
                  .picpart
                  p the comment here
              .rihts
                .one
                  .picpart
                  p the comment here
                .two
                  .picpart
                  p the comment here
        .vevos
          .lefff
            .vidpart
              .vid
                iframe(width='175', height='175', src='https://www.youtube.com/embed/2vjPBrBU-TM', frameborder='0', allowfullscreen='')
              .commm
                h4 the header here
                p the comment is here and text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita
            .vidpart
              .vid
                iframe(width='175', height='175', src='https://www.youtube.com/embed/2vjPBrBU-TM', frameborder='0', allowfullscreen='')
              .commm
                h4 the header here
                p the comment is here and text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita
            .vidpart
              .vid
                iframe(width='175', height='175', src='https://www.youtube.com/embed/2vjPBrBU-TM', frameborder='0', allowfullscreen='')
              .commm
                h4 the header here
                p the comment is here and text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita
            .vidpart
              .vid
                iframe(width='175', height='175', src='https://www.youtube.com/embed/2vjPBrBU-TM', frameborder='0', allowfullscreen='')
              .commm
                h4 the header here
                p the comment is here and text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercita
          .riggg
            .LAT
              p LATEST VEDIOS
            .bidved
              iframe(width='315', height='220', src='https://www.youtube.com/embed/2vjPBrBU-TM', frameborder='0', allowfullscreen='')
            .smallz
              .smal
                iframe(width='157', height='118', src='https://www.youtube.com/embed/2vjPBrBU-TM', frameborder='0', allowfullscreen='')
              .smal
                iframe(width='157', height='118', src='https://www.youtube.com/embed/2vjPBrBU-TM', frameborder='0', allowfullscreen='')
            .smallz
              .smal
                iframe(width='157', height='118', src='https://www.youtube.com/embed/2vjPBrBU-TM', frameborder='0', allowfullscreen='')
              .smal
                iframe(width='157', height='118', src='https://www.youtube.com/embed/2vjPBrBU-TM', frameborder='0', allowfullscreen='')
                
        .footer
          .licence
            p © 2016 Alexandria HammerHeads. All rights reserved
    script(src="jquery-2.1.3.min.js")
    script(src="jquery.cycle2.min.js")
    script(src="functions.js")
